

a{
	color: var(--secondary-color);
}

.contactCardContainer{
display: flex;
flex-direction: column;
margin: var(--spacing-large);
margin-top: 10vh ;
justify-content: left;
align-items: start ;
gap: var(--spacing-xl);
color: var(--secondary-color)
}

.contactCard{
	display: flex;
	flex-direction: column;
	font-family: var(--primary-font);
	gap: var(--spacing-small);
	text-align: left;
}

.contactTitle{
	font-size: larger;
	margin-bottom: var(--spacing-medium)
}


@media (max-width: 450px) {
	.contactCardContainer{
		flex-direction: column;
		gap: var(--spacing-xl);
	}
	
 }