

.listItemsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Three columns */
	gap: 20px;
	padding: 20px;
	padding-bottom: 70px; /* Add bottom padding to avoid overlap with footer */
	width: 100%; /* Full viewport width */
	box-sizing: border-box; /* Includes padding in width calculation */
}
 
 .videoCard {
	position: relative;
	width: 100%; /* Ensures full width within the grid */
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	margin: 0; /* Remove margin to ensure proper sizing */
	background: black; /* Black background to cover extra space */
	overflow: hidden; /* Hide overflow */
 }
 
 .videoCard iframe {
	position: absolute; /* Covers the entire area */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	object-fit: cover; /* Ensure the iframe covers the container */
 }
 .overlay {
	position: absolute;
	top: 0; /* Adjust to position at the top if needed */
	left: 50%;
	transform: translateX(-50%); /* Center horizontally */
	width: auto; /* Adjust width to fit content */
	padding: 10px;
	color:var(--title-color);
	font-family: var(--primary-font);
	font-weight: 600;
	opacity: 0;
	transition: opacity 0.3s ease;
	text-align: center;
	z-index: 10; /* Ensure it appears above other content */
 }
 
 .videoCard:hover .overlay {
	opacity: 1; /* Show overlay on hover */
	
 }
 
 /* Medium screens (Tablets) */
@media (max-width: 1024px) {
	.listItemsContainer {
	  grid-template-columns: repeat(2, 1fr); /* Two columns */
	}
 
	.overlay {
	  font-size: 1rem; /* Adjust font size if needed */
	}
 }
 
 /* Small screens (Phones) */
 @media (max-width: 768px) {
	.listItemsContainer {
	  grid-template-columns: 1fr; /* Single column */
	}
 
	.overlay {
	  font-size: 0.9rem; /* Adjust font size if needed */
	  padding: 8px; /* Reduce padding for smaller screens */
	}
 }

 