/* Footer Container */
.footer {
	font-family: var(--secondary-font);
	position: fixed;
	display: flex;
	justify-content: space-between; /* Space between left and right items */
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);

	padding: 10px 20px;

	box-sizing: border-box; /* Includes padding in width calculation */


}

a{
	color: var(--secondary-color);
}
a:hover{
	color: var(--highlight-color);
}


/* Container for left and right sections */
.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
button{
	
}

/* Container for left section (contact) */
.footer-left {
	flex: 1;
	display: flex;
	justify-content: flex-start; /* Align to the left */
}

/* Container for center section (rights reserved) */
.footer-center {
	flex: 1;
	text-align: center; /* Center text */
}

/* Container for right section (buttons) */
.footer-right {
	flex: 1;
	display: flex;
	justify-content: flex-end; /* Align to the right */
	gap: 10px; /* Space between buttons */
}

/* Style for buttons */
.footerButton {
	font-family: var(--secondary-font);
	background: none;
	border: none;
	color: var(--secondary-color);
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none; /* Remove underline */
}

.footerButton:hover {
	color: var(--highlight-color); /* Highlight color on hover */
}

/* Hide logout button */
.footerButton.invisible {
	color: transparent; /* Make text invisible */
}
