
@import '../styles/variables.css';

/* Navigation Styling */
/* Add a container for the SVG */
.svg-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: auto;
	max-height: 150px;  /* Prevents oversized scaling */
	overflow: visible;   /* Ensures it does not cut off */
}

.svg-container > * {
	flex-shrink: 1; /* 👈 Allow children to shrink */
	min-width: 0;   /* Avoid default min width that may force wrapping */
}

.linkContainer{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;

}





 h2 {
	margin-top: var(--spacing-negative);
	font-family: var(--secondary-font);
 }

nav {
	font-family: var(--secondary-font);
	margin: var(--spacing-medium);
	display: flex;
	align-items: center; /* Center items vertically */
	gap: var(--spacing-medium);
	justify-content: start;
	color: var(--secondary-color);
}

nav button {
	
	background: none;
	border: none;
	color:var(--secondary-color);
	font-size: 1rem;
	cursor: pointer;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

nav button:hover, 
nav a:hover {
	color: var(--highlight-color);
	/*text-decoration: underline; Optional underline on hover*/
	transform: scale(1.1); /* Slightly increase size on hover */
	transition: transform 0.3s ease; /* Smooth scaling effect */
}

nav a {
	color: var(--secondary-color); /* Default link color */
	text-decoration: none; /* Remove underline */
	font-size: 1rem;
	padding: 0;
	transition: transform 0.3s ease; /* Smooth scaling effect */
}

nav a:hover {
	color: var(--highlight-color); /* Highlight color on hover */
	/*text-decoration: underline; Optional underline on hover*/
	transform: scale(1.1); /* Slightly increase size on hover */
}

.navButtonActive{
	color:var(--highlight-color);
	pointer-events: none; /* disables click, hover, etc. */
	cursor: default;
	
}
 
 @media (max-width: 768px) {
	.svg-container {
		height: 100vh; /* Maintain viewport height */
		padding: 0 1rem; /* Optional: Add horizontal padding for better spacing */
	}
	.svg-container svg {
		width: 70%; /* Reduce size for smaller screens */
		height: auto; /* Maintain aspect ratio */
	}
	svg:hover {
		/*fill: var(--title-color); Change color on hover*/
		transform: scale(1); /* Scale without moving */
	 }
}