@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	/* Colors */
	--primary-color: white; /* Background color */
	--secondary-color: #000000; /* Text color (black) */
	--highlight-color: orange; /* Highlight color */
	--error-color: red; /* Delete/Error color */
	--title-color: yellow;

	/* Font types */
	--primary-font: 'Poppins', sans-serif;
	--secondary-font: 'Raleway', sans-serif;
	/* Font Sizes */
	--font-small: 0.875rem; /* Small text */
	--font-medium: 1rem; /* Medium text */
	--font-large: 1.25rem; /* Large text */
 
	/* Shadows */
	--box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Universal box-shadow */
 
	/* Spacing */
	--spacing-small: 8px; /* Small spacing */
	--spacing-medium: 15px; /* Medium spacing */
	--spacing-large: 20px; /* Large spacing */
	--spacing-negative: -20px;
 }