
@font-face {
	font-family: 'SansNorm-regular';
	src: url('/fonts/SansNorm-080Regular.woff2') format('woff2'),
		  url('/fonts/SansNorm-080Regular.woff') format('woff');
	font-weight: 600; /* SemiBold */
	font-style: normal;
}

@font-face {
	font-family: 'SansNorm-extra-light';
	src: url('/fonts/SansNorm-030ExtraLight.woff2') format('woff2'),
		  url('/fonts/SansNorm-030ExtraLight.woff') format('woff');
	font-weight: 200; /* ExtraLight */
	font-style: normal;
}

@font-face {
	font-family: 'SansNorm-light';
	src: url('/fonts/SansNorm-040Light.woff2') format('woff2'),
		  url('/fonts/SansNorm-040Light.woff') format('woff');
	font-weight: 300; /* ExtraLight */
	font-style: normal;
}
@font-face {
	font-family: 'SansNorm-regular-italic';
	src: url('/fonts/SansNorm-081RegularItalic.woff2') format('woff2'),
		  url('/fonts/SansNorm-081RegularItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}






:root {
	/* Colors */
	--primary-color: white; /* Background color */
	--secondary-color: #222221; /* Text color (black) */
	--highlight-color: #222221; /* Highlight color */
	--error-color: red; /* Delete/Error color */
	--title-color: white;

	/* Font types */
	--primary-font: 'SansNorm-light';
	--secondary-font: 'SansNorm-regular' ;
	--italic: 'SansNorm-regular-italic'
	/* Font Sizes */
	--font-small: 0.875rem; /* Small text */
	--font-medium: 1rem; /* Medium text */
	--font-large: 1.25rem; /* Large text */
 
	/* Shadows */
	--box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Universal box-shadow */
 
	/* Spacing */
	--spacing-small: 8px; /* Small spacing */
	--spacing-medium: 20px; /* Medium spacing */
	--spacing-large: 25px; /* Large spacing */
	--spacing-xl: 50px;
	--spacing-negative: -20px;
 }