@import './styles/variables.css';
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /*font-family: 'Audiowide', sans-serif;*/
  font-family: 'Avenir', narrow ;
 
}

body{
  color: black;
  background-color: var(--primary-color);
}


